table{
    margin-bottom: 20px;
    text-align: center;
    border: black;
    border-collapse: collapse;
    background-color: white;
    }
          
  td, th{
    border: solid 1px black;
    padding: 2px;
  }
        

  thead{
    background-color:rgb(150, 151, 150);
    border-bottom: solid 2px;
    color:black;
  }
  